.footer {
    padding-top: 30px;
    background-color: $main-grafite;
    padding-bottom: 5px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 -4px 8px rgba(0, 0, 0, 0.5);

    &__info {
        @include flex($a-items: start, $j-content: space-between);
        margin-bottom: 30px;

        a {
            padding: 4px 8px;
            border-radius: 5px;

            &:hover {
                background-color: $main-gray;
                color: white;
            }
        }
    }

    &__logo {
        width: 210px;
        @include flex($j-content: center, $f-direction: column);

        a:hover {
            background-color: initial;
        }

        img {
            width: 140px;
        }

        h4 {
            font-size: 14px;
            color: $bg-smooth-white;
            cursor: default;
        }
    }

    &__menu {
        > a {
            font-size: 18px;
        }

        > ul {
            padding-left: 10px;

            > li {
                margin-top: 15px;

                > a {
                    padding: 4px 30px 4px 20px;
                    position: relative;

                    &::before {
                        content: "·";
                        display: block;
                        width: 20px;
                        height: 20px;
                        color: white;
                        text-align: center;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }

                    &::after {
                        content: "";
                        width: 14px;
                        height: 14px;
                        background: url("../images/icons/icon__chevron-right.svg") no-repeat center;
                        position: absolute;
                        top: 50%;
                        right: 8px;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

    &__pages {
        font-size: 18px;

        li + li {
            margin-top: 15px;
        }
    }

    .page__contacts {
        row-gap: 15px;
    }
}