.header {
    &__top {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #07c4e8;
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        span, a {
            font-size: 14px;
        }

        .container {
            @include d-flex($j-content: space-between);
        }
    }

    &__schedule {
        @include d-flex($column-gap: 5px);
        cursor: default;

        img {
            width: 16px;
        }
    }

    &__contacts {
        @include d-flex($column-gap: 15px);

        > a {
            cursor: pointer;
        }

        &-item {
            @include d-flex();
        }
    }

    &__phone {
        @include d-flex();
    }

    &__email {
        @include d-flex($column-gap: 5px);
    }

    &__lang-btn {
        @include d-flex($column-gap: 5px);
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;

        img {
            width: 16px;
        }
    }

    &__img {
        width: 20px;
    }

    &__logo {
        @include d-flex($column-gap: 10px);

        h2 {
            font-size: 16px;
            font-weight: 400;
            cursor: default;

            span {
                color: $sub-text-color;
            }
        }
    }

    &__content-inner {
        @include d-flex($j-content: space-between);
        margin-top: 10px;
        margin-bottom: 10px;

        .menu ul {
            @include d-flex($column-gap: 35px);

            a {
                padding: 7px 14px;
                border-radius: 10px;

                &:hover {
                    background-color: darken($bg-bright-blue, 2%);
                }
            }
        }
    }

    &__catalog-menu {
        ul {
            @include d-flex($j-content: space-between);
        }

        a {
            padding: 7px 14px;
            background-color: white;
            border: 1px solid $border-blue;
            border-radius: 10px;
            font-size: 14px;

            &:hover {
                background-color: $bg-bright-blue;
            }
        }
    }
}