.header {
    &__top {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: $bg-grafite;
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        span, a {
            font-size: 14px;
            color: white;
        }

        .container {
            @include d-flex($j-content: space-between);
        }
    }

    &__schedule {
        @include d-flex($column-gap: 5px);
        cursor: default;

        img {
            width: 16px;
        }
    }

    &__lang-btn {
        @include d-flex($column-gap: 5px);
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;

        img {
            width: 16px;
        }
    }

    &__content {
        margin-top: 10px;
        margin-bottom: 6px;

        .container {
            @include d-flex($j-content: space-between);
        }
    }

    &__logo {
        @include d-flex($column-gap: 10px);

        img {
            width: 120px;
        }

        h2 {
            font-size: 16px;
            font-weight: 400;
            color: #191919;
            cursor: default;

            span {
                color: $sub-text-color;
            }
        }
    }

    &__contacts {
        @include d-flex($a-items: end, $f-direction: column);
        row-gap: 10px;
    }

    &__phone,
    &__email {
        @include d-flex();
        color: $sub-text-color;
    }

    &__email {
        column-gap: 5px
    }

    &__icon {
        width: 20px;
    }
}