.main-menu {
    background-color: $main-grafite;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;

    &__panel > ul {
        @include d-flex($column-gap: 10px);

        > li > a {
            padding: 7px 14px;

            &:hover {
                background-color: $main-gray;
            }

            &.main-menu__catalog-link {
                padding-left: 30px;
            }
        }
    }

    &__catalog {
        &:hover > ul > li {
            display: block;

            &:hover > ul > li {
                display: block;
            }
        }

        &-link {
            position: relative;

            &::before {
                content: "";
                width: 20px;
                height: 20px;
                background: url("../images/icons/icon__list.svg") no-repeat center;
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
            }
        }

        > ul {
            position: absolute;
            top: 34px;
            z-index: 9;

            li {
                display: none;
                padding: 7px 14px;
                background-color: $main-grafite;
                cursor: pointer;

                &:hover {
                    background-color: $main-gray;
                }

                + li {
                    border-top: 1px solid $main-gray
                }

                > ul {
                    background-color: $main-grafite;
                    border-width: 0 1px;
                    border-style: solid;
                    border-color: $main-gray;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    z-index: 9;

                    > li {
                        animation: smoothShowDown 1s forwards;
                    }
                }

                a {
                    white-space: nowrap;
                }
            }

            > li {
                padding-right: 30px;
                position: relative;

                animation: smoothShowDown 1s forwards;

                &::after {
                    content: "";
                    width: 14px;
                    height: 14px;
                    background: url("../images/icons/icon__chevron-right.svg") no-repeat center;
                    position: absolute;
                    top: 50%;
                    right: 8px;
                    transform: translateY(-50%);
                }
            }
        }
    }
}