.main-title {
    background-color: $bg-smooth-white;
    position: relative;
    z-index: -1;

    .container {
        padding-top: 10rem;
        padding-bottom: 10rem;
        text-align: center;
    }

    h1 {
        font-size: 28px;
        color: $main-grafite;
    }
}