@mixin font-face($name, $src, $weight) {
    @font-face {
        font-family: $name;
        src: url('../font/' + $src + '.ttf') format('truetype'),
        url('../font/' + $src + '.woff') format('woff'),
        url('../font/' + $src + '.woff2') format('woff2');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}

@mixin flex($a-items: center, $j-content: null, $f-direction: null, $column-gap: null) {
    display: flex;
    align-items: $a-items;

    @if $j-content != null {
        justify-content: $j-content;
    }

    @if $f-direction != null {
        flex-direction: $f-direction;
    }

    @if $column-gap != null {
        column-gap: $column-gap;
    }
}

@mixin text-block-bg($background-color: null) {
    padding-top: 30px;
    padding-bottom: 30px;

    @if $background-color != null {
        background-color: $background-color;
    }
}

@mixin title() {
    font-size: 32px;
    margin-bottom: 30px;
    cursor: default;
}