@import 'abstracts/mixins';
@import 'base/font';
@import 'abstracts/variables';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'FiraSans', sans-serif;
    font-weight: 400;
    color: white;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

@import 'blocks/blocks';