@import 'abstracts/mixins';
@import 'base/font';
@import 'abstracts/variables';

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'FiraSans', sans-serif;
    font-weight: 400;
    color: white;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: 400;
}

.brightness-overlay::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hide {
    display: none;
}

.overflow-hide {
    overflow: hidden;
}

.dropdown-chevron {
    padding-right: 15px;

    &::after {
        content: "";
        width: 14px;
        height: 14px;
        background: url("../images/icons/icon__chevron-right.svg") no-repeat center;
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
    }
}

@import 'blocks/blocks';
@import 'abstracts/animation';