@charset "UTF-8";

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-ExtraLight.ttf") format("truetype"), url("../font/FiraSans-ExtraLight.woff") format("woff"), url("../font/FiraSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-Light.ttf") format("truetype"), url("../font/FiraSans-Light.woff") format("woff"), url("../font/FiraSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-Regular.ttf") format("truetype"), url("../font/FiraSans-Regular.woff") format("woff"), url("../font/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-Medium.ttf") format("truetype"), url("../font/FiraSans-Medium.woff") format("woff"), url("../font/FiraSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-ExtraBold.ttf") format("truetype"), url("../font/FiraSans-ExtraBold.woff") format("woff"), url("../font/FiraSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "FiraSans", sans-serif;
  font-weight: 400;
  color: white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.page__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  cursor: default !important;
}

.page__schedule img {
  width: 16px !important;
}

.page__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
}

.page__contacts > a,
.page__contacts > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  cursor: pointer;
}

.page__contacts > a img,
.page__contacts > div img {
  width: 20px;
  height: 20px;
}

.page__contacts > a img + img,
.page__contacts > div img + img {
  margin-right: 5px;
}

.page__contacts > a:first-child {
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.page__contacts > a:hover {
  color: #73879e;
}

.brightness-overlay::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hide {
  display: none;
}

.overflow-hide {
  overflow: hidden;
}

.dropdown-chevron {
  padding-right: 15px;
}

.dropdown-chevron::after {
  content: "";
  width: 14px;
  height: 14px;
  background: url("../images/icons/icon__chevron-right.svg") no-repeat center;
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header__top {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #464952;
  position: relative;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.header__top span,
.header__top a {
  font-size: 14px;
  color: white;
}

.header__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__lang-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
}

.header__lang-btn img {
  width: 16px;
}

.header__content {
  margin-top: 10px;
  margin-bottom: 6px;
}

.header__content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.header__logo img {
  width: 120px;
}

.header__logo h2 {
  font-size: 16px;
  color: #191919;
  cursor: default;
}

.header__logo h2 span {
  color: #73879e;
}

.header__search {
  position: relative;
}

.header__search input {
  margin: 0;
  padding: 10px 50px 10px 15px;
  border: 1px solid #73879e;
  border-radius: 6px;
}

.header__search input:focus {
  outline: 1px solid #464952;
}

.header__search input::-webkit-input-placeholder {
  font-size: 14px;
}

.header__search input::-moz-placeholder {
  font-size: 14px;
}

.header__search input:-ms-input-placeholder {
  font-size: 14px;
}

.header__search input::-ms-input-placeholder {
  font-size: 14px;
}

.header__search input::placeholder {
  font-size: 14px;
}

.header__search button {
  padding: 9px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header__search button img {
  position: relative;
  top: 2px;
}

.header__contacts > a,
.header__contacts > div {
  color: #73879e;
}

.header__contacts > a:hover,
.header__contacts > div:hover {
  color: #464952;
  -webkit-animation: shake 0.6s ease-in-out;
  animation: shake 0.6s ease-in-out;
}

.main-menu {
  background-color: #464952;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  -webkit-box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}

.main-menu__panel > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.main-menu__panel > ul > li > a {
  padding: 7px 14px;
}

.main-menu__panel > ul > li > a:hover {
  background-color: #73879e;
}

.main-menu__panel > ul > li > a.main-menu__catalog-link {
  padding-left: 30px;
}

.main-menu__catalog:hover > ul > li {
  display: block;
}

.main-menu__catalog:hover > ul > li:hover > ul > li {
  display: block;
}

.main-menu__catalog:hover > ul > li:hover > ul > li:hover > ul > li {
  display: block;
}

.main-menu__catalog-link {
  position: relative;
}

.main-menu__catalog-link::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/icons/icon__list.svg") no-repeat center;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-menu__catalog > ul {
  position: absolute;
  top: 34px;
  z-index: 9;
}

.main-menu__catalog > ul li {
  display: none;
  padding: 7px 14px;
  background-color: #464952;
  cursor: pointer;
}

.main-menu__catalog > ul li:hover {
  background-color: #73879e;
}

.main-menu__catalog > ul li + li {
  border-top: 1px solid #73879e;
}

.main-menu__catalog > ul li > ul {
  background-color: #464952;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #73879e;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 9;
}

.main-menu__catalog > ul li > ul > li {
  -webkit-animation: smoothShowDown 1s forwards;
  animation: smoothShowDown 1s forwards;
}

.main-menu__catalog > ul li a {
  white-space: nowrap;
}

.main-menu__catalog > ul > li {
  position: relative;
  -webkit-animation: smoothShowDown 1s forwards;
  animation: smoothShowDown 1s forwards;
}

.banner {
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.banner__swiper {
  height: 30rem;
}

.banner .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  cursor: default;
  position: relative;
}

.banner .swiper-slide__inner {
  max-width: 1440px;
}

.banner .swiper-slide h2 {
  margin-bottom: 30px;
}

.banner .swiper-slide h3 {
  line-height: 30px;
}

.banner .swiper-button-prev,
.banner .swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: #464952;
  border-radius: 5px;
}

.banner .swiper-button-prev::after,
.banner .swiper-button-next::after {
  font-size: 18px;
  font-weight: 700;
  color: #73879e;
}

.banner .swiper-button-prev:hover::after,
.banner .swiper-button-next:hover::after {
  color: white;
}

.banner .swiper-button-prev {
  top: 54%;
  left: auto;
  right: 10px;
}

.main-title {
  background-color: #eff1f4;
  position: relative;
  z-index: -1;
}

.main-title .container {
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;
}

.main-title h1 {
  font-size: 28px;
  color: #464952;
}

.assortment {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #464952;
  position: relative;
  -webkit-box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.5);
}

.assortment .container {
  max-width: 1420px;
  padding: 30px 28px 20px;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.assortment__title {
  font-size: 32px;
  margin-bottom: 30px;
  cursor: default;
  color: #464952;
}

.assortment__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px 40px;
}

.assortment__grid * {
  color: #464952;
}

.assortment__grid-column {
  width: 33.33333%;
  padding: 0 8px;
  height: auto;
}

.assortment__grid-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 16px;
}

.assortment__item {
  width: 100%;
  height: 100%;
  padding: 24px;
  border: 1px solid #73879e;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.assortment__item:hover {
  background-color: #464952;
}

.assortment__item:hover * {
  color: white;
}

.assortment__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-bottom: 15px;
}

.assortment__item-title img {
  width: 30px;
}

.assortment__item h3 {
  cursor: default;
}

.assortment__item > ul > li:hover ul {
  height: var(--custom-height);
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.assortment__item > ul > li:hover ul > li {
  display: block;
}

.assortment__item > ul > li > ul {
  padding-left: 20px;
  height: 0;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.assortment__item > ul > li > ul > li {
  display: none;
  -webkit-animation: smoothShowDown 1.8s forwards;
  animation: smoothShowDown 1.8s forwards;
}

.assortment__item a {
  display: block;
  width: 100%;
  padding: 8px 8px 8px 20px;
  border-radius: 5px;
  position: relative;
}

.assortment__item a:hover {
  background-color: #73879e;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.assortment__item a::before {
  content: "·";
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.latest-products {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eff1f4;
}

.latest-products * {
  color: #464952;
}

.latest-products h2 {
  font-size: 32px;
  margin-bottom: 30px;
  cursor: default;
}

.latest-products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.latest-products__row + div {
  margin-top: 10px;
}

.latest-products__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 16px;
  background: white;
  border-radius: 4px;
  border: 1px solid #73879e;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.latest-products__item:hover {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.latest-products__item-header,
.latest-products__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.latest-products__item-header {
  margin-bottom: 15px;
}

.latest-products__item-header span:first-child {
  margin-bottom: 10px;
}

.latest-products__item-header span:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
}

.latest-products__item-content img {
  margin-bottom: 15px;
}

.latest-products__item-content span {
  font-size: 14px;
  color: #73879e;
}

.seo-block {
  background-color: #464952;
  -webkit-box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

.seo-block .container {
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;
}

.seo-block h2 {
  cursor: default;
}

.benefits {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eff1f4;
}

.benefits * {
  color: #464952;
}

.benefits h2 {
  font-size: 32px;
  margin-bottom: 30px;
  cursor: default;
}

.benefits__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: default;
}

.benefits__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  background-color: #464952;
  border-radius: 50%;
  margin-bottom: 15px;
}

.benefits__item-icon img {
  width: 50px;
}

.benefits__item-icon .icon-payment {
  padding: 4px;
}

.benefits__item-icon .icon-fast-delivery {
  position: relative;
  top: -6px;
}

.footer {
  padding-top: 30px;
  background-color: #464952;
  padding-bottom: 5px;
  position: relative;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 -4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 -4px 8px rgba(0, 0, 0, 0.5);
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer__info a {
  padding: 4px 8px;
  border-radius: 5px;
}

.footer__info a:hover {
  background-color: #73879e;
  color: white;
}

.footer__logo {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__logo a:hover {
  background-color: initial;
}

.footer__logo img {
  width: 140px;
}

.footer__logo h4 {
  font-size: 14px;
  color: #eff1f4;
  cursor: default;
}

.footer__menu > a {
  font-size: 18px;
}

.footer__menu > ul {
  padding-left: 10px;
}

.footer__menu > ul > li {
  margin-top: 15px;
}

.footer__menu > ul > li > a {
  padding: 4px 30px 4px 20px;
  position: relative;
}

.footer__menu > ul > li > a::before {
  content: "·";
  display: block;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer__menu > ul > li > a::after {
  content: "";
  width: 14px;
  height: 14px;
  background: url("../images/icons/icon__chevron-right.svg") no-repeat center;
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer__pages {
  font-size: 18px;
}

.footer__pages li + li {
  margin-top: 15px;
}

.footer .page__contacts {
  row-gap: 15px;
}

.copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eff1f4;
  font-size: 14px;
  color: #464952;
  text-align: center;
}

.recall__modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  overflow: auto;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.recall__modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 75px 30px 30px;
  background-color: #464952;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.recall__modal-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #73879e;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.recall__modal-close {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.recall__modal-close::before,
.recall__modal-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: white;
}

.recall__modal-close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.recall__modal-close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.recall__modal-close:hover::before,
.recall__modal-close:hover::after {
  background-color: #464952;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.recall__form-field {
  margin-bottom: 30px;
  position: relative;
}

.recall__form label {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  color: #73879e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.recall__form label span::after {
  content: "*";
  position: absolute;
  padding-left: 3px;
  color: red;
}

.recall__form input,
.recall__form textarea {
  width: 100%;
  padding: 7px 5px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  color: #464952;
  outline: none;
}

.recall__form textarea {
  resize: none;
}

.recall__form-send {
  cursor: pointer;
}

.recall__form-send:hover {
  color: white;
  background-color: #73879e;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.recall__form .field-up {
  top: -14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
}

@-webkit-keyframes smoothShowDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes smoothShowDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  20% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  30% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  40% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  50% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  60% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  70% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  80% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  90% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  20% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  30% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  40% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  50% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  60% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  70% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  80% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  90% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}