@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-ExtraLight.ttf") format("truetype"), url("../font/FiraSans-ExtraLight.woff") format("woff"), url("../font/FiraSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-Light.ttf") format("truetype"), url("../font/FiraSans-Light.woff") format("woff"), url("../font/FiraSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-Regular.ttf") format("truetype"), url("../font/FiraSans-Regular.woff") format("woff"), url("../font/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-Medium.ttf") format("truetype"), url("../font/FiraSans-Medium.woff") format("woff"), url("../font/FiraSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-ExtraBold.ttf") format("truetype"), url("../font/FiraSans-ExtraBold.woff") format("woff"), url("../font/FiraSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "FiraSans", sans-serif;
  font-weight: 400;
  color: white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.header__top {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #464952;
  position: relative;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header__top span,
.header__top a {
  font-size: 14px;
  color: white;
}

.header__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  cursor: default;
}

.header__schedule img {
  width: 16px;
}

.header__lang-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
}

.header__lang-btn img {
  width: 16px;
}

.header__content {
  margin-top: 10px;
  margin-bottom: 6px;
}

.header__content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.header__logo img {
  width: 120px;
}

.header__logo h2 {
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  cursor: default;
}

.header__logo h2 span {
  color: #73879e;
}

.header__search {
  position: relative;
}

.header__search input {
  margin: 0;
  padding: 10px 50px 10px 15px;
  border: 1px solid #73879e;
  border-radius: 6px;
}

.header__search input:focus {
  outline: 1px solid #464952;
}

.header__search input::-webkit-input-placeholder {
  font-size: 14px;
}

.header__search input::-moz-placeholder {
  font-size: 14px;
}

.header__search input:-ms-input-placeholder {
  font-size: 14px;
}

.header__search input::-ms-input-placeholder {
  font-size: 14px;
}

.header__search input::placeholder {
  font-size: 14px;
}

.header__search button {
  padding: 9px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header__search button img {
  position: relative;
  top: 2px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
}

.header__phone,
.header__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #73879e;
}

.header__phone:hover,
.header__email:hover {
  color: #464952;
  -webkit-animation: shake 0.6s ease-in-out;
  animation: shake 0.6s ease-in-out;
}

.header__email {
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
}

.header__icon {
  width: 20px;
}

.main-menu {
  background-color: #464952;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}

.main-menu__panel > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.main-menu__panel > ul > li > a {
  padding: 7px 14px;
}

.main-menu__panel > ul > li > a:hover {
  background-color: #73879e;
}

.main-menu__panel > ul > li > a.main-menu__catalog-link {
  padding-left: 30px;
}

.main-menu__catalog:hover > ul > li {
  display: block;
}

.main-menu__catalog:hover > ul > li:hover > ul > li {
  display: block;
}

.main-menu__catalog-link {
  position: relative;
}

.main-menu__catalog-link::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/icons/icon__list.svg") no-repeat center;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-menu__catalog > ul {
  position: absolute;
  top: 34px;
}

.main-menu__catalog > ul li {
  display: none;
  padding: 7px 14px;
  background-color: #464952;
  cursor: pointer;
}

.main-menu__catalog > ul li:hover {
  background-color: #73879e;
}

.main-menu__catalog > ul li + li {
  border-top: 1px solid #73879e;
}

.main-menu__catalog > ul li > ul {
  background-color: #464952;
  border-width: 0 1px;
  border-style: solid;
  border-color: #73879e;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 9;
}

.main-menu__catalog > ul li > ul > li {
  -webkit-animation: smoothShowDown 1s forwards;
  animation: smoothShowDown 1s forwards;
}

.main-menu__catalog > ul li a {
  white-space: nowrap;
}

.main-menu__catalog > ul > li {
  padding-right: 30px;
  position: relative;
  -webkit-animation: smoothShowDown 1s forwards;
  animation: smoothShowDown 1s forwards;
}

.main-menu__catalog > ul > li::after {
  content: "";
  width: 14px;
  height: 14px;
  background: url("../images/icons/icon__chevron-right.svg") no-repeat center;
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@-webkit-keyframes smoothShowDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes smoothShowDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  20% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  30% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  40% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  50% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  60% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  70% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  80% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  90% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  20% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  30% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  40% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  50% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  60% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  70% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  80% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  90% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}