@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-ExtraLight.ttf") format("truetype"), url("../font/FiraSans-ExtraLight.woff") format("woff"), url("../font/FiraSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-Light.ttf") format("truetype"), url("../font/FiraSans-Light.woff") format("woff"), url("../font/FiraSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-Regular.ttf") format("truetype"), url("../font/FiraSans-Regular.woff") format("woff"), url("../font/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-Medium.ttf") format("truetype"), url("../font/FiraSans-Medium.woff") format("woff"), url("../font/FiraSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-ExtraBold.ttf") format("truetype"), url("../font/FiraSans-ExtraBold.woff") format("woff"), url("../font/FiraSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "FiraSans", sans-serif;
  font-weight: 400;
  color: white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.header__top {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #464952;
  position: relative;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header__top span,
.header__top a {
  font-size: 14px;
  color: white;
}

.header__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  cursor: default;
}

.header__schedule img {
  width: 16px;
}

.header__lang-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__lang-btn img {
  width: 16px;
}

.header__content {
  margin-top: 10px;
  margin-bottom: 6px;
}

.header__content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.header__logo img {
  width: 120px;
}

.header__logo h2 {
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  cursor: default;
}

.header__logo h2 span {
  color: #73879e;
}

.header__search {
  position: relative;
}

.header__search::after {
  content: "";
  width: 18px;
  height: 18px;
  background: url("../images/icons/icon__search.svg") no-repeat center;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.header__search input {
  margin: 0;
  padding: 10px 50px 10px 15px;
  border: 1px solid #73879e;
  border-radius: 6px;
}

.header__search input:focus {
  outline: 1px solid #464952;
}

.header__search input::-webkit-input-placeholder {
  font-size: 14px;
}

.header__search input::-moz-placeholder {
  font-size: 14px;
}

.header__search input:-ms-input-placeholder {
  font-size: 14px;
}

.header__search input::-ms-input-placeholder {
  font-size: 14px;
}

.header__search input::placeholder {
  font-size: 14px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
}

.header__phone,
.header__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #73879e;
}

.header__email {
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
}

.header__icon {
  width: 20px;
}

.main-menu {
  background-color: #464952;
  padding-top: 8px;
  padding-bottom: 7px;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.main-menu a {
  padding: 7px 14px;
}

.main-menu a:hover {
  background-color: #73879e;
}